/minggu-1/New Folder/New Folder/JavaApplication24/nbproject/private/
/minggu-1/New Folder/New Folder/JavaApplication24/build/
/minggu-1/hari-5/latihan-1/JavaApplication24/build/
/minggu-1/hari-5/latihan-1/JavaApplication24/nbproject/private/